#time {
    flex-grow: 1;
    padding: 0 12px;
}

#time .axis line {
    stroke: #e0e0e0;
}
#time .axis text {
    font-size: 1.5rem;
}

/* Hide default axis and ticks */
#time .axis path,
#time .axis .tick:first-of-type line,
#time .axis .tick:last-of-type {
    display: none;
}

#time .focus rect {
    cursor: pointer;
    fill: white;
}